html, body, :global(#root) {
  height: 100%;
  width: 100%;
  margin: 0!important;
  overflow-x: hidden;
  position: absolute;
  font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}


:global(.am-list-body:after) {
    border-bottom: 0px!important
}
:global(.am-list-body) {
    border-top: 0px!important;
    background-color: transparent!important;
}

:global(.am-list-header) {
  padding: 0px!important
}

:global(.am-list-item .am-input-control input) {
  text-align: right;
}

:global(.am-list-item .am-input-label.am-input-label-5) {
  width: 210px!important;
}

:global(.am-list-item) {
  min-height: 100px!important
}

:global(.am-list-body div:not(:last-child) .am-list-line:after) {
  border-bottom: 1px solid rgb(220, 220, 220)!important
}

:global(.am-list-content) {
  color: rgb(50, 50, 50)!important
}
:global(.am-list-extra) {
  font-size: 28px!important;
}
:global(.am-button) {
  font-size: 32px!important;
}
:global(.am-textarea-control textarea) {
  font-size: 30px!important
}
:global(.am-textarea-count) {
  font-size: 25px!important
}
:global(.am-popup) {
  background-color: rgba(0, 0, 0, 0)!important
}

/*刷新控件*/
:global(.am-refresh-control-loading) {
    height: 100px!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
}

:global(.am-badge-text) {
  background-color: rgb(243, 54, 48) !important
}

:global(.am-navbar) {
  border-bottom: 1px solid rgb(220, 220, 220)!important;
}

/* FilterBar菜单 */
:global(.am-menu .am-flexbox .am-flexbox-item:first-child) { flex: 0.5}
:global(.am-menu .am-flexbox .am-flexbox-item:last-child) { flex: 1}
:global(.am-menu .am-flexbox .am-flexbox-item:first-child .am-list .am-list-item .am-list-line) { border-bottom: 1px solid #ddd!important;}
:global(.am-menu .am-list-content) { overflow: initial!important}

/* 图标大小 */
:global(.am-icon-xxs) {
  width: 15px!important;
  height: 15px!important;
}

/* FilterBar的list允许空格 */
:global(.am-menu .am-flexbox .am-flexbox-item .am-list .am-list-item .am-list-line .am-list-content) {
  white-space: pre!important
}

:global(.am-image-picker-upload-btn):active {
  background-color: rgb(220, 220, 220)!important
}

:global(.am-search) {
  background-color: rgb(245, 245, 249)!important
}

/*modal.alert安卓样式*/
:global(.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-v.am-modal-button-group-normal){
  flex-direction:column !important;
}